        <p>
          G'day,
        </p>
        <p>
          <strong>
            <%= (@roster.patrol.short_name.present? ? @roster.patrol.short_name : @roster.patrol.name) + ' - ' + @roster.start.strftime("%a %d %b %y %H:%M") + '-' + @roster.finish.strftime("%H:%M") %>
          </strong>
        </p>
        <p>
          Click on the link below to generate your patrol report in realtime.<br/>
          <%#= link_to 'Patrol Report', patrol_report_url(:token => @roster.secret) %>
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
