<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Swapsea - Activate Account for 2019/20</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

<style type="text/css">

      body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 14px;
        background-color: #F2EEEC;
        margin: 0;
      }

      a,
      a:visited {
        color: #CC0000;
        text-decoration: none;
      }

      a:hover,
      a:focus {
        color: #990000;
        text-decoration: none;
      }

      .container {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.175);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.175); 
      }

      .title {
        background-color: #F13E0B;
        color: #FEFEFE;
        width: auto;
      }

      .title img {
        padding: 20px;
      }

      .title h2 {
        float: right;
        padding: 20px;
        margin: 0;
      }

      .content {
        background-color: #FEFEFE;
        width: auto;
        padding: 40px 60px 60px 60px;
      }

      .footer {
        text-align: center;
        width: auto;
        font-size: 0.8em;
        color: #AAA;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      @media only screen and (max-width: 640px) {
        body {
          background-color: #FEFEFE;
        }
        .title {
          text-align: center !important;
          width: auto;
        }
        .title h2 {
          padding-top: 0;
          float: none;
        }
        .container {
          width: 100% !important;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        .content {
          padding: 20px;
        }
      }

      </style>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <%= image_tag('main-logo.png', size: "150", alt: "Swapsea", class: "logo") %>
        <h2>Activate Swapsea for 2019/20</h2>
      </div>
      <div class="content">
        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          Welcome to the 2019/20 Season at North Bondi!
        </p>
        <p>
          Swapsea is here to provide all your patrol swap needs. :-)
        </p>
        <p>
        <strong>If you haven't already done so, <%= link_to 'click here to activate your Swapsea account for this season.', activate_url(email: @user.email) %></strong><br/>
        </p>
          <p>
          <strong>What is Swapsea?</strong><br/>
          Swapsea is an online roster management system for Surf Life Saving Clubs and will allow you to swap your patrols with other club members during the season. Swapsea will also remind you of upcoming patrols (by email) and you can even link your roster to your smartphone calendar.
        </p>
        <p>
          <strong>How do you get a patrol swap?</strong><br/>
          You can get a swap for your patrol by logging into Swapsea and either creating <em>Requests</em> and waiting for other members to make an <em>Offer</em>, or you can make an offer on someone else's request. You can only create one request per patrol, but make as many offers as you like.
        </p>
        <p>
          <strong>Next Steps</strong><br/>
          Before you can login, you will need to activate your account by clcking the link above.<br/>
          <em>If you attempt to activate your account or reset your password multiple times, make sure you are using the link in the latest email to set your new password.</em>
        </p>

        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
      </div>
    </div>
    <div class="footer">
      Copyright 2019 Swapsea <br/>
    </div>
  </body>
</html>