        <p>
          G'day <%= @user.first_name %>,
        </p>

        <strong>We've noticed you haven't signed up for a session yet!</strong><br/>
        <p>
          As a patrolling member of North Bondi SLSC, you will need to complete a Skills Maintenance session before the 31st December 2015.
        </p>
        <p>
          To sign up for a session: Login to Swapsea, click on 'Skills Maintenance' in the menu, and select a session.
        </p>
        <p>
          <a href="https://www.swapsea.com.au/users/sign_in">Click here</a> to login to Swapsea.
        </p>
        <p>
          Be quick, sessions are filling up fast!
        </p>
        <p>
          Much Love,<br/>
          Swapsea + The Education Team
        </p>
