        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
        You are a <%= @user.default_position %> for your next patrol:
          <strong>
            <%= (@roster.patrol.short_name.present? ? @roster.patrol.short_name : @roster.patrol.name) + ' - ' + @roster.start.strftime("%a %d %b %y %H:%M") + '-' + @roster.finish.strftime("%H:%M") %>
          </strong>
        </p>
        <p>
          <%= link_to 'Click here to download the latest Patrol Sign-on Sheet', sign_on_reports_url(:token => @roster.secret) %>
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
