
        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          <strong>Welcome to Swapsea!</strong>
        </p>
        <p>
          You are receiving this email because you are a patrolling member of <%= @user.club.name %>.
        </p>
        <p><%= link_to 'Activate your Swapsea account now', activate_url %>.</p>
        <p>
          <strong>What is Swapsea?</strong><br/>
          Swapsea is an online swap system for Surf Life Saving Clubs that allows you to swap your patrols with other club members. Swapsea will also remind you of upcoming patrols so you don't forget. Simply login and view your roster on the dashboard.
        </p>
        <p>
          <strong>How does it Work?</strong><br/>
          You swap your patrols in two ways: <b>Swap Requests</b> and <b>Offers</b>. <br/>
          Simply login to Swapsea and create a <em>Swap Request</em> and wait for other members to make you an <em>Offer</em>. The fastest way however is to make offers to other requests. You can only create one request per patrol, but as many offers as you like.
        </p>
        <p>
          <strong>What Next?</strong><br/>
         <%= link_to 'Click here to activate your Swapsea account', activate_url %>, then you can login and get started. If you need to update your email or details, go to the <a href="https://members.sls.com.au/">SLSA Members Area</a>.
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Cheers,<br/>
          Swapsea
        </p>
