<div class="footer">
  <div class="row">
    <div class="col-sm-5">
      <p class="copyright">
        &copy; 2020 Swapsea
        |
        <%= link_to "Terms of Use", terms_of_use_path %>
        |
        <%= link_to('help@swapsea.com.au', "mailto:help@swapsea.com.au?subject=[#{current_user.organisation}] Help please") %>
      </p>
    </div>
  </div>
</div>
