<% if (selected_user.has_role? :admin) || (selected_user.has_role? :manager) || (selected_user.has_position? :patrol_captain) || (selected_user.has_position? :vice_captain) %>
  <div class="alert alert-info">
    <b>Privacy Reminder</b><br/>
    <p>As a Patrol Captain/Vice Captain, you have special access to members' personal details. Please respect the privacy of their information.</p>
  </div>
<% end %>
