 <% if activity.trackable %>
 <p>
 	<%= activity.owner.first_name if activity.owner %> made an offer on
 	<%= link_to activity.trackable.request.roster.start.strftime("%a %d %b") + ", " + activity.trackable.request.roster.start.strftime("%H:%M") + " - " + activity.trackable.request.roster.finish.strftime("%H:%M") + " (" + activity.trackable.request.roster.patrol.short_name + ")", request_path(activity.trackable.request) %> <%= time_ago_in_words(activity.created_at) %> ago.
 </p>
 <% else %>
 <p>
 	<%= activity.owner.first_name if activity.owner %> made an offer that has since been removed.
 </p>
 <% end %>