	<tr>
		<td>
			<%= u.default_position %>
		</td>
		<td>
			<%= u.name %>
		</td>
		<td>
			<% if !r.user_rostered_on(u) # if not rostered on
			uniq_id = Swap.where(roster: r, user: u, on_off_patrol: false).first.uniq_id
			sub = Swap.where(uniq_id: uniq_id, on_off_patrol: true).last.user %>
			<%= sub.name %>
			<% else %>
			<!-- sub -->
			<% end %>
		</td>
		<td>
			<!-- signature -->
		</td>
		<td>
			<!-- start time -->
		</td>
		<td>
			<!-- finish time -->
		</td>
		<td>
			<!-- total hours -->
		</td>
	</tr>
