<% content_for(:title){ "Rosters" } %>

<h2><%= content_for(:title) %></h2>
<% if @patrols.empty? %>
  <div class="box-info">
    <p>Rosters are not available as there are no patrols loaded into Swapsea yet. Please check again later or contact your Club.</p>
  </div>
<% elsif @rosters.empty? %>
  <div class="box-info">
    <p>Rosters are not loaded into Swapsea yet. Please check again later or contact your Club.</p>
  </div>
<% else %>
  <%= render 'patrol_timeline' %>
<% end %>
