<% if activity.trackable %>
 <p>
 	<%= activity.owner.first_name if activity.owner %>
 	closed swap request 
 	<%= activity.trackable.roster.start.strftime("%a %d %b") + ", " + activity.trackable.roster.start.strftime("%H:%M") + " - " + activity.trackable.roster.finish.strftime("%H:%M") + " (" + activity.trackable.roster.patrol.short_name + ")" %> <%= time_ago_in_words(activity.created_at) %> ago.
 </p>
 <% else %>
 <p>
 	<%= activity.owner.first_name if activity.owner %> 
 	closed a swap request that has since been removed.
 </p>
 <% end %>