<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Administrator Use Only</h2>
	</div>
	<div class="panel-body">
		<p>The administration area is provided to designated Club members for privilieged administrative functions.
		Please log off after use to protect Member personal information.</p>
		If you have any questions, please contact
		<i class="fa fa-envelope-square fa-lg"></i> <%= mail_to("help@swapsea.com.au", 'Club Administrator Help') %>
		</p>
	</div>
</div>
