<div class="table-responsive">
	<table class="patrol-members-table member-list table table-striped dataTable row-border" cellspacing="0" width="100%" data-table="true">

		<%
			users = p.users.includes(:awards, :patrol_member).sort_by { |n| n.date_joined_organisation || DateTime.now}
			users.sort_by { |n| [n.position_order, n.name] }
		%>

		<thead>
			<th>Name</th><th>Position</th><th>Bronze</th><th>ART</th><th>IRB-C</th><th>IRB-D</th><th>BBM</th>
		</thead>
		<tbody>

		<% users.each do |u| %>
			<% awards = u.awards.map { |n| n.award_name } %>
			<% if awards.include?("Bronze Medallion") %>
				<%= render partial: 'member', locals: {u: u} %>
			<% end %>
		<% end %>
		<% users.each do |u| %>
			<% awards = u.awards.map { |n| n.award_name } %>
			<% if ((awards.exclude?("Bronze Medallion")) && (awards.include?("Surf Rescue Certificate (CPR Endorsed)"))) %>
				<%= render partial: 'member', locals: {u: u} %>
			<% end %>
		<% end %>
		<% users.each do |u| %>
			<% awards = u.awards.map { |n| n.award_name } %>
			<% if ((awards.exclude?("Bronze Medallion")) && (awards.include?("Surf Rescue Certificate"))) %>
				<%= render partial: 'member', locals: {u: u} %>
			<% end %>
		<% end %>
		<% users.each do |u| %>
			<% awards = u.awards.map { |n| n.award_name } %>
			<% if ((awards.exclude?("Bronze Medallion")) && (awards.exclude?("Surf Rescue Certificate")) && (awards.exclude?("Surf Rescue Certificate (CPR Endorsed)"))) %>
				<%= render partial: 'member', locals: {u: u} %>
			<% end %>
		<% end %>

		</tbody>
		<tfoot>
			<th>Name</th><th>Position</th><th>Bronze</th><th>ART</th><th>IRB-C</th><th>IRB-D</th><th>BBM</th>
		</tfoot>
	</table>
</div>
