<div class="container">
    <div class="full-content-center animated fadeIn">
        <%= image_tag('alternate-logo.png', :class => "modal-logo") %>
        <div class="box-info">
        	<%= render 'form' %>
        	<br />
        	<%= link_to 'Return', root_path %>
        </div>
    </div>
</div>
