<!-- Footer -->
<div class="footer"> 
  <div class="container">
  <div class="row">
    <div class="col-sm-5">
    	<%= image_tag('swapsea-logo-col-blk.png', :class => "footer-logo") %>
      <p>
        We love the beach, the surf club and we love solving the patrol swap problem with a bit of technology. Swapsea is made with love by current lifesavers and friends. Cheers!
      </p>
      <p class="copyright">&copy; 2019 <a href="https://github.com/Swapsea/swapsea/">Swapsea</a>.  <%= link_to "Terms of Use", terms_of_use_path %></p>
    </div>
    <div class="col-sm-3 col-sm-offset-1 col-md-offset-1">
      <ul class="link-list">
        <li class="heading">Connect with us</li>
        <li><a href="https://au.linkedin.com/in/markhudson"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn - Mark</a></li>
        <li><a href="https://au.linkedin.com/in/xandercarroll"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn - Alex</a></li>
        <li><a href="https://au.linkedin.com/in/ariellfriedman"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn - Ariell</a></li>
        <li><a href="https://au.linkedin.com/in/michaelbamford"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn - Michael</a></li>
      </ul>       
    </div>
    <div class="col-sm-3">
      <ul class="link-list">
        <li class="heading">Get in touch</li>
        <li><a href="mailto:help@swapsea.com.au">help@swapsea.com.au</a></li>
        <li><a href="https://github.com/Swapsea/swapsea/">Swapsea on GitHub</a></li>
      </ul>  
    </div>
  </div>
  </div> <!--/.container -->
</div> <!-- End footer -->
<!-- Doorbell -->
<script type="text/javascript">
    window.doorbellOptions = {
        appKey: 'cpSbxvvAop5jnGKRAU4gG4sfRZQbi6fyT7oBNGlGQQy52UoGceageh0KAfi09isX'
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/6873?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));
</script>
<!-- End Doorbell -->