<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
	        <div class="panel panel-default">
	        	<div class="panel-heading">
	        		<h2>Thanks</h2>
	        	</div>
	        	<div class="panel-body">
	        		<p>
	        			Thanks for your interest in Swapsea.
	        		</p>
	        		<p>
	        			We will be in contact with you shortly. If you have an urgent enquiry please email <a href="mailto:help@swapsea.com.au">help@swapsea.com.au</a>.
	        		</p>
	        		<p>
	        			<%= link_to 'Home', root_path %>
	        		</p>
	    		</div>
	        </div>
	    </div>
    </div>
</div>