<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
	        <div class="panel panel-default">
	        	<div class="panel-heading">
	        		<h2>Registration Received!</h2>
	        	</div>
	        	<div class="panel-body">
	        		<p>
	        			Thank you for registering your Club with Swapsea.
	        		</p>
	        		<p>
	        			Someone from our volunteer team will contact you shortly to continue the registration process.
	        		</p>
	        		<p>
	        			<%= link_to 'Back to Setup', setup_path %>
	        		</p>
	    		</div>
	        </div>
	    </div>
    </div>
</div>
