<div class="container">
    <div class="full-content-center animated fadeIn">
        <%= image_tag('alternate-logo.png', :class => "modal-logo") %>
        <div class="box-info">
        	<p>Club logins are no longer available. To login use the link below.</p>
        	<%= link_to 'Login', new_user_session_path %><br/>
        	<%= link_to 'Home', root_path %>
        </div>
    </div>
</div>