<div class="container">
    <div class="full-content-center animated fadeIn extra-margin-top">
        <%= image_tag('alternate-logo.png', :class => "modal-logo") %>
        <div class="box-info exceptions">
          <h2>Not Acceptable<h2/>
          <% if @exception %>
          	<p><%= @exception.message %></p>
          <% else %>
          	<p>This is a complicated error, something about headers and return repsonses that are not acceptable. We'll check it out.</p>
          <% end %>
    </div>
    <%= link_to "Back", :back %>
    </div>      
</div>