<div class="container">
    <div class="full-content-center animated fadeIn extra-margin-top">
        <%= image_tag('alternate-logo.png', :class => "modal-logo") %>
        <div class="box-info exceptions">
          <h2>Sorry, something went wrong.<h2/>
          <% if @exception %>
          	<p><%= @exception.message %></p>
          <% else %>
          	<p>Is this Digital Armageddon? Probably not, but it may take time to fix. Hang in there.</p>
          <% end %>
    </div>
    <%= link_to "Back", :back %>
    </div>      
</div>
