<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Confirm</h2>
	</div>
	<div class="panel-body">
		<p>Are you sure you want to <strong>decline</strong> this offer?</p>
		<div class="buttons">
			<%= link_to @offer.request do %>
				<button class="btn btn-danger"><span class="fa fa-times"></span><br/>Go back</button>
			<% end %>
			<%= link_to decline_offer_path(@offer) do %>
				<button class="btn btn-success pull-right"><span class="fa fa-check"></span><br/>Decline Offer</button>
			<% end %>
		</div>
	</div>
</div>
