@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* @import url(http://fonts.googleapis.com/css?family=Lobster); */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(font-path('glyphicons-halflings-regular.eot'));
    src: url(font-path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(font-path('glyphicons-halflings-regular.woff2')) format('woff2'), url(font-path('glyphicons-halflings-regular.woff')) format('woff'), url(font-path('glyphicons-halflings-regular.ttf')) format('truetype'), url(font-path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}