<p>
  G'day <%= @user.first_name %>,
</p>
<p>
  Almost there!
</p>
<p>
  <%= link_to 'Choose a password' , edit_password_url(@resource, :reset_password_token=> @token) %> for Swapsea.
</p>
<p>If you don't want to reset your password, please ignore this email.</p>
<p>
  <strong>'Invalid Token' error</strong><br />
  The link above expires after 24 hours. If you are getting an 'Invalid Token' error, please <%=
    link_to 'try password reset again' , activate_url %>.
</p>
<p>
  <strong>What is Swapsea?</strong><br />
  Swapsea is an online swap system for Surf Life Saving Clubs that allows you to swap your patrols with other club
  members. Swapsea will also remind you of upcoming patrols so you don't forget. Simply login and view your roster on
  the dashboard.
</p>
<p>
  Have a great weekend!
</p>
<p>
  Much Love,<br />
  Swapsea
</p>
