<!-- MODAL DIALOGUE -->
  <!-- Modal Logout Primary -->
  <div class="md-modal md-fall" id="logout-modal">
    <div class="md-content">
      <h3><strong>Logout</strong> Confirmation</h3>
      <div>
        <p class="text-center">Are you sure you want to logout?</p>
        <p class="text-center">
        <button class="btn btn-danger md-close"  data-test-id="logout-cancel">Cancel</button>
        <%= link_to 'Yes, Logout', destroy_user_session_path, :class => "btn btn-success md-close", :method => "delete", :id => "logout-confirm" %>
        </p>
      </div>
    </div>
  </div>

  <!-- STAR MODAL OVERLAY ELEMENT -->
    <div class="md-overlay"></div>
  <!-- END MODAL OVERLAY ELEMENT -->
